* {
    margin: 0;
    padding: 0;
  }
  
  header,
  footer {
    min-height: 9vh;
    width: 100%;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    flex-direction: row;
    border-style: solid;
    background-color: #A6A6A6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  
  }
  
  #nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    text-decoration: none;
  }
  
  body {
    background-color: #d9d9d9;
  }
  
  header {
    background: #A6A6A6;
    text-decoration: none;
  }
  
  footer {
    background: #D9D9D9;
    sei
  }
  
  main {
  
    height: 90vh;
    min-height: 90vh;
    background: #66CCFF;
    background-image: url("image-arriere plans.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
  
  }
  
  .nav {
    background-color: aqua;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border-color: aquamarine;
    text-decoration: none;
  
  
  }
  #menu:hover{
    background-color: blueviolet;
  }
  @media screen and (max-width: 768px) {
    #nav display: none;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  #bouton {
    width: 50px;
    height: 50px;
  }
  
  #menu {
    background-color: aqua;
    font-size: 20px;
    border-radius: 20px;
    text-align:justify
      text-decoration: none;
    width: 90px;
    height: 60px;
    border-radius: 10px;
   border-color: aquamarine;
   padding: 10px;
   margin-top: 10px;
  }
  
  p {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white; 
    ;
    padding-bottom: 20px;
  }
  
  a {
    text-align: center;
    text-decoration: none;
  }
  li{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    text-align: center;
    color:white;

    
  }
  h2{
    color: blue;
  }

